@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
* {
    margin-top: 0;
    padding: 0;
    box-sizing:border-box ;
}
body {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    background-color:#fffbf8;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(215, 215, 223);
    border-radius: 20px;
}
ol,li {
    list-style: none;
}

header {
    height: 100vh;
    background-image: url(./images/mobile/image-header.jpg);
    background-position: center;
    background-size: cover;
    .header-top {
     display: flex;
     flex-direction: row;
     width: 100%;
     position: absolute;
     top: 0;
     .logo {
        display: flex;
        align-items: center;
        width: 50%;
        h1 {
            display: block;
            padding: 1em;
            font-family: "Barlow",sans-serif;
            color: #ffffff;
            font-size: 1.6rem;
        }
     }
     nav {
        display: flex;
        width: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
            display: none;
        }
        ul {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            li {
                a {
                    display: block;
                    padding: 1em;
                    font-family:"Barlow",sans-serif;
                    font-weight:600;
                    color: #ffffff;
                    text-decoration: none;
                }
                .contact {
                    font-family: "Fraunces",serif;
                    background-color: #ffffff;
                    color: #000000;
                    border-radius:2em ;
                    margin-right: 0.5em;
                }
            }
        }
     }
    }
    .icon-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        h1 {
            padding: 0em;
            margin-top: -1.5em;
            font-family: "Fraunces",serif;
            color: #ffffff;
            font-size: 5rem;
        }
    }
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    article {
        display: flex;
        flex-direction: row;
        width: 100%;
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            h1 {
                width: 50%;
                color: #232a36;
                font-size: 2rem;
                font-family:"Fraunces",serif ;
                font-weight: 900;
                text-align: left;
            }
            p {
                width: 50%;
                text-align: left;
                color: #9d9aa3;
                font-size: 1.2rem;
                line-height: 1.5;
            }
            a {
                margin-right: 30%;
                padding: 0.5em;
                font-family: "Fraunces",serif;
                font-weight: 900;
                text-decoration: none;
                text-align: left;
                color: ;
                hr {
                    margin-top: -0.5em;
                    border: none;
                    border-bottom: 10px solid rgba(255, 255, 0, 0.945);
                }
            }
            a:hover > hr {
                border-bottom: 10px solid rgba;
            }
        }
        .img-article {
            width: 100%;
            padding: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}  
.article-footer {
    .footer-box {
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width: 50%;
        img {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .img-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            h2 {
                font-family: 'Fraunces',serif ;
                font-weight: 900;
            }
            p {
                width: 50%;
                font-family:'Barlow',sans-serif ;
                font-size: 1rem;
                text-align: center;
            }
            .graphic_design {
                color: #255b51;
            }
            .photography {
                color: #195168;
            }
        }
    }
    #box1 {
        left: 0;
    }
    #box2 {
        right: 0;
    }
}

.client-testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 7em;
    .testimonial-title {
        display: block;
        padding-top: 4em;
        padding-bottom: 2em;
        font-family: 'Fraunces',serif;
        color:#a9a9a9;
    }
    .testimonial-content {
        display: flex;
        width: 80%;
        gap: 1em;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .testimonial-card {
            display: flex;
            width: 30%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 20%;
                border-radius: 100%;
            }
            p {
                font-family: 'Barlow',sans-serif;
                line-height: 1.5;
                text-align: center;
                color: #676769;
            }
            h3 {
                font-family: 'Fraunces',serif;
                font-weight: 900;
                font-size: 1rem;
                padding-top: 2em;
            }
            span {
                font-family: 'Barlow',sans-serif;
                color: #a9a9a9;
                text-align: center;
            }
        }
    }
}
.clipper {
    display: flex;
    flex-direction: row;
    width: 100%;
    img {
        width: 25%;
    }
}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d7454;
    h2 {
        font-family: "Lato", sans-serif;
        color:#2d7464;
        font-weight: 900;
        font-size: 3rem;
    }
    .link-us {
        display: flex;
        flex-direction: row;
        gap: 2em;
        margin-bottom: 2em;
        a {
            font-family: "Barlow",sans-serif;
            text-decoration: none;
            color: #2d7466;
        }
        .socials {
            display: flex;
            flex-direction: row;
            padding: 2em;
            gap: 1.5em;
            margin-bottom: 1em;
        }
    }
}